@{
  TempData.Keep();
  ViewData["navbarDetached"] = (ViewData["navbarDetached"] ??= null);
}
<nav class='layout-navbar container-fluid navbar navbar-expand-xl align-items-center bg-navbar-theme'
  id="layout-navbar">
  @await Html.PartialAsync("Sections/Navbar/_NavbarPartial")
</nav>
