
@inject IHttpContextAccessor _httpContextAccessor
@* ! Brand demo (display only for navbar-full and hide on below xl) *@
@{
    string userName = _httpContextAccessor.HttpContext?.Session.GetString("userName") ?? "User";
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Navbar -->
<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    @if (ViewData["navbarFull"] != null)
    {
        <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
            <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                <span class="app-brand-logo demo"></span>
                <span class="app-brand-text demo menu-text fw-bold">CodeNest</span>
            </a>
        </div>
    }

    <!-- Navbar Toggle -->
    @if (ViewData["navbarHideToggle"] == null)
    {
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="bx bx-menu bx-md"></i>
            </a>
        </div>
    }


    @await Component.InvokeAsync("Workspaces")
</div>

