@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">WorkSpace</div>
        
      </a>
    </li>

    <!-- Apps & Pages -->
  @*   <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Tools &amp; </span>
    </li> *@
   
    
    <!-- Pages -->
    <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div>JSON</div>
      </a>
      <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Formatter/JsonFormatter" ? " active" : "")'>
                    <a asp-controller="Formatter" asp-action="JsonFormatter" class="menu-link">
            <div>JSON</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                        <div>item2</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
                        <div>item3</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div>XMl</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Auth/Login" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="Login" class="menu-link" target="_blank">
            <div>Login</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Auth/Register" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="Register" class="menu-link" target="_blank">
            <div>Register</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link" target="_blank">
            <div>Forgot Password</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cube-alt"></i>
        <div>Html</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
            <div>Error</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
          <div>Under Maintenance</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
            <div>JavaScript</div>
        </a>
        <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                    <div>Error</div>
                </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                    <div>Under Maintenance</div>
                </a>
            </li>
        </ul>
    </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div>Jwt</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                        <div>Error</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                        <div>Under Maintenance</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div>Base64ToString</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                        <div>Error</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                        <div>Under Maintenance</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div>StringToBase64</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                        <div>Error</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                        <div>Under Maintenance</div>
                    </a>
                </li>
            </ul>
        </li>
  </ul>
</aside>
<!-- / Menu -->
