@model CodeNest.DTO.Models.JsonDto
@{
}

<form method="post" asp-action="Validate">
    <textarea class="textarea" asp-for="JsonInput" name="JsonInput" placeholder="Enter your Input..."></textarea>
    <textarea class="textarea2" asp-for="JsonOutput" placeholder="See the Output..."></textarea>

    <div class="button-container">
        <button class="btn btn-primary" type="submit">Validate</button>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>

<div class="message">
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success">
            @ViewBag.Success
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
</div>
