@{
       
}
 @*    <div class="main-content">
        <textarea class="textarea" placeholder="Enter your code..."></textarea>
        <textarea class="textarea2" placeholder="See the output..."></textarea>
    
    </div>
    <div class="button-container">
        <button>Validate</button>
        <button>Beautify</button>
    </div>
 *@
  