@model List<CodeNest.DTO.Models.WorkspacesDto>
@inject IHttpContextAccessor _httpContextAccessor

@{
    string userName = _httpContextAccessor.HttpContext?.Session.GetString("userName") ?? "User";
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    
}

<ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- Workspace Dropdown -->
    <li class="nav-item dropdown me-3">
        <a class="btn btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            WorkSpace
        </a>
        <ul class="dropdown-menu">
            @if (Model?.Count > 0)
            {
                @foreach (var workspace in Model)
                {
                    <li >
                        <a class="dropdown-item" href="javascript:void(0);" onclick="loadJson('@workspace.Id')">
                            <i class="bx bx-user bx-md me-2"></i>
                            <span>@workspace.Name</span>
                        </a>
                    </li>
                }
            }
            else
            {
                <li><a class="dropdown-item" href="javascript:void(0);">No Workspaces Available</a></li>
            }
        </ul>
    </li>

    <!-- User Dropdown -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
            <span>@userName</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bx bx-user bx-md me-2"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <li><div class="dropdown-divider my-1"></div></li>
            <li>
                <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bx bx-power-off bx-md me-2"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<script>
    function loadJson(workspaceId) {
        $.ajax({
            url: '/CodeNest/UI/ViewComponents/Json?workspaceId=' + workspaceId, // Adjust the URL according to your routing
            type: 'GET',
            success: function (data) {
                console.log("Loaded the data");
            },
            error: function (xhr, status, error) {
                console.error("Error loading View Component:", error);
            }
        });
    }
</script>