@model CodeNest.DTO.Models.JsonDto

<form method="post" asp-action="JsonFormatter">
<div class="container-fluid text-center">
    @* @Html.AntiForgeryToken() *@
    <div class="card">
        <div class="card-header">
           @*  @if (Model != null && !string.IsNullOrEmpty())
            {
                <div class="alert @(Model.IsValid ? "alert-success" : "alert-danger")" role="alert">
                    @Model.Message
                </div>
            } *@
        </div>
        <div class="card-body">
            
                <div class="row">
                    <!-- Input JSON Data Column -->
                    <div class="col-5">
                        <h5>Input JSON</h5>
                        <textarea id="inputJson" name="JsonInput" rows="23" class="form-control"  placeholder="Enter JSON data">@Model?.JsonInput</textarea>
                        <div class="mt-2 d-flex justify-content-between">
                            <button id="copyInputJsonBtn" type="button" class="btn btn-outline-secondary">Copy Input JSON</button>
                        </div>
                    </div>
                    <!-- Actions Column -->
                    <div class="col-2">
                        <h5></h5>
                        <br />
                        <br />
                        <br />
                        <button id="validateBtn" type="submit" class="btn btn-primary mb-2 w-100">Validate</button>
                        <button id="minifyBtn" type="button" class="btn btn-primary mb-2 w-100" onclick="minifyJson()">Minify</button>
                        <button id="clearBtn" type="button" class="btn btn-primary mb-2 w-100" onclick="clearJson()">Clear</button>
                        <button id="saveJsonBtn" type="submit" asp-action="SaveJson" asp-controller="Formatter" class="btn btn-primary w-100">Save</button>
                    </div>
                    <div class="col-5">
                        <h5>Formatted JSON</h5>
                        <textarea name="JsonOutput" id="formattedJson" rows="23" class="form-control" >@Model?.JsonOutput</textarea>
                        <div class="mt-2 d-flex justify-content-between">
                            <button id="copyFormattedJsonBtn" type="button" class="btn btn-outline-secondary">Copy Formatted JSON</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</form>
@section Scripts {
    <script>
        function minifyJson() {
            const inputJson = document.getElementById('inputJson').value;
            try {
                const minifiedJson = JSON.stringify(JSON.parse(inputJson));
                document.getElementById('inputJson').value = minifiedJson;
            } catch (e) {
                alert('Invalid JSON');
            }
        }

        function clearJson() {
            console.log(document.getElementById('inputJson').value, );
            document.getElementById('inputJson').value = '';
            document.getElementById('formattedJson').value = '';
        }
    </script>
}
