

<div class="row mb-12 g-6">
    <div class="col-md">
        <div class="card">
            <div class="d-flex">
                <div>
                    <img class="card-img card-img-left" src="~/img/elements/12.jpg" alt="Card image" />
                </div>
                <div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a
                            little bit longer.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row md-12 g-3">
        <div class="col-md">
            <div class="card">

            </div>

        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <div class="d-flex">
                <div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a
                            little bit longer.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div>
                    <img class="card-img card-img-right" src="~/img/elements/17.jpg" alt="Card image" />
                </div>
            </div>
        </div>
    </div>
</div>


